.email__form {
  background-color: rgba(255, 255, 255, .1);
  padding: 24px;
}

button {
  background-color: #61dafb;
  color: #ffffff;
  cursor: pointer;
  font-weight: bold;
  padding: 12px 24px;
  text-transform: uppercase;
}

.form__actions {
  justify-content: center;
  display: flex;
}

.button__icon {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

svg {
  height: 18px;
  margin-left: 6px;
  width: 18px;
}
